<div class="container mt-4">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <!-- Champ pour le nom -->
    <div class="form-group">
      <label>Prénom</label>
      <input type="text" formControlName="firstName" class="form-control" />
      <div
        *ngIf="
          registrationForm.get('firstName')?.invalid &&
          registrationForm.get('firstName')?.touched
        "
        class="text-danger"
      >
        Le prénom est requis.
      </div>
    </div>
    <!-- Champ pour le prénom -->
    <div class="form-group">
      <label>Nom</label>
      <input type="text" formControlName="lastName" class="form-control" />
      <div
        *ngIf="
          registrationForm.get('lastName')?.invalid &&
          registrationForm.get('lastName')?.touched
        "
        class="text-danger"
      >
        Le nom est requis.
      </div>
    </div>
    <!-- Champ pour l'adresse email -->
    <div class="form-group">
      <label>Adresse email</label>
      <input type="email" formControlName="email" class="form-control" />
      <div class="text-danger">{{ showErrorMessage("email") }}</div>
    </div>
    <!-- Champ pour le téléphone -->
    <div class="form-group">
      <label>Téléphone</label>
      <input type="text" formControlName="phone" class="form-control" />
      <div class="text-danger">{{ showErrorMessage("phone") }}</div>
    </div>
    <!-- Champ pour l'adresse postale -->
    <div class="form-group">
      <label>Adresse postale</label>
      <input type="text" formControlName="address" class="form-control" />
      <div class="text-danger">{{ showErrorMessage("address") }}</div>
    </div>
    <!-- Champ pour le mot de passe -->
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" formControlName="password" class="form-control" />
      <div class="text-danger">{{ showErrorMessage("password") }}</div>
    </div>
    <!-- Bouton pour soumettre les données -->
    <button type="submit" class="btn btn-primary">Inscripton</button>
  </form>
</div>